*{
	margin: 0 auto;
	padding: 0 auto;
}
body {
	font-family: 'Lato', sans-serif;
	background-color: gray;
}
.container {
	width: 1140px;
	margin: 0 auto;
}
.text {
	width: 50%;
	float: left;
}
.text h2{
	margin: 20px 0;

}
.text p{
	font-size: 15px;

}
.text ul li{
	text-decoration: none;

}
.text ul li i{
	
}
button{
	margin: 5px 0;
	background-color: blue;
}
.form {
	width: 50%;
	float: left;
}
.register{
	background-color: blue;
}
.register h2{
	text-align: center;
	margin: 20px 0px;

}
.register p{
	font-size: 12px;

}
form{


}
.form-control{
	width: 85%;
	height: 30px;
	margin: 0 10px;
	padding: 5px;
	margin-bottom: 14px;

}
.btn{
	margin: 0px auto;
	display: block;
	background-color: blue;

}